body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jqxgrid {
  width:500px;
  height:auto;
}

.piechart {
  width: 300px;
  height: 300px;
}

.barchart {
  width: 500px;
  height: 300px;
}